%h1 Edit Comment
= simple_form_for ([@message, @comment]) do |f|
  = f.input :content, label: "Comments", :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'mini'}}, class: "form-control"
  .div.text-right
    = f.button :submit, class: "espn-btn espn-btn-primary"
